/* @import url('http://fonts.cdnfonts.com/css/seven-segment'); */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.timer-display {
    user-select: none;
    width: 100vw;
    margin: 0;
    background: #2E3233;
    color: #FE1145;
    font-family: 'Seven Segment';
    border: 25px solid #2F4C84;
    padding-block: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-display em {
    font-size: 30%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-color: #FE1145;
    position: relative;
    bottom: -50px;
}
.timer-display div {
    width: 100%
}
.timer-display span {
    width: 8%
}
.connect-to-timer {
    background-color: #2F4C84;
    color: white;
    text-decoration: none;
    padding: 30px;
}
.connect-to-timer:hover {
    background-color: #253b66;
    color: lightgray;
    text-decoration: none;
}
.dot {
    width:10px;
}
.threeLines {
    color: yellow;
    text-decoration: none;
}
@font-face {
    font-family: 'Seven Segment';
    font-style: normal;
    font-weight: 400;
    src: local('Seven Segment'), url('https://fonts.cdnfonts.com/s/71640/Seven Segment.woff') format('woff');
}